[Unit]
Description=DSS service

[Service]
Type=forking
User=bluedata
ExecStart=/home/bluedata/data/bin/dss start

[Install]
WantedBy=multi-user.target
